<footer class="site-footer">

  <div id="social" class="text-center">
      <a href="https://soundcloud.com/isaiah-nordland"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/NordlandMusic/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/channel/UCgh9tNArzNEEFaVH8zwHiPQ"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
      <p>&copy; Isaiah Nordland, 2017</p>
  </div>


</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="{{ "/assets/js/vendor/jquery-1.11.2.min.js" | relative_url}}"><\/script>')</script>
<script type='text/javascript' src="{{ "/assets/js/vendor/bootstrap.min.js" | relative_url}}"></script>
