---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    color: #444;
}

h1, h2, h3, .navbar-brand, .lead{
    color: #351741;
    font-family: 'Raleway', sans-serif;
}

h1, h2 {
    font-weight: 100;
}

h3, .lead {
    font-weight: 600;
}

#content{
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 20px;
}

#mc_embed_signup {
    padding-bottom: 20px;
}

footer #social a{
    padding:0 20px 0 20px;
    font-size: 48px;
    color: #444;
}


nav.navbar .navbar-toggle .icon-bar  {
    background-color: #351741;
}

.navbar-brand{
    font-size: 40px;
}

nav.navbar a {
    color: #351741;
}

nav.navbar {
    color: #351741;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0 10px 0;
}
.signup-form {
    margin-bottom: 50px;
}


/* medium width */
@media (min-width: 992px){
}
/* large width */
@media (min-width: 1200px){
}





